# generated
*.o
*~
.*~
.cache
/.deps
/Makefile
/Makefile.in
/aclocal.m4
/autom4te.cache/
/config.h
/config.h.in
/config.log
/config.status
/configure
/depcomp
/install-sh
/jai
/jai-*.tar.gz
/jai.1
/jai.conf
/missing
/stamp-h1
compile_commands.json
